<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Product Page</h1>
    <form action="/products" method="POST">
      Name: <input type="text" name="name" /><br/>
      Price: <input type="text" name="price" /><br/>
      Image Url: <input type="text" name="img" /><br/>
      <input type="submit" name="" value="Create Product"/>
    </form>
    <p><a href="./">Index</a></p>

  </body>
</html>
