<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%=product.name%></h2>
    <h3>$<%=product.price%></h3>
    <img src=<%=product.img%>>

    <p><a href="./">Index</a></p>
  </body>
</html>
