<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  </head>
  <body>
    <h1>Fruits Show Page</h1>
      <table>
        <tr>
          <td>Name:</td>
          <td><%= fruit.name %></td>
        </tr>
        <tr>
          <td>Color:</td>
          <td><%= fruit.color %></td>
        </tr>
        <tr>
          <td>Ready to Eat:</td>
          <td>
            <% if(fruit.readyToEat){ %>
              READY
            <% } else { %>
              NOT READY
            <% } %>
          </td>
        </tr>
      </table>
    <nav>
      <br/>
      <a href="/fruits">Index</a>
    </nav>
  </body>
</html>
