<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Hello Adult Life</h1>
      <table>
        <% for(let i = 0; i < budget.length; i++){ %>
          <tr>
            <td><%= budget[i]["date"] %></td>
            <td><a href="/show/<%= i %>"><%= budget[i]["name"] %></a></td>
            <td><%= budget[i]["amount"] %></td>
          </tr>
        <% } %>
      </table>
      <form action="/show/new">
        <button>NEW</button>
      </form>
    </div>
  </body>
</html>
