html {
  background-color: #D6D6D6;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 500;
  /* border: 1px solid gold; */
}

div {
  /* border: 1px solid gold; */
  /* width: 400px;
  height: 400px; */
}

img {
  /* display: flex;
  justify-content: center; */
  /* margin: auto; */
}

li {
  list-style-type: none;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}

a {
  font-weight: 800;
  color: #FF3300;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  background-color: #D6D6D6;
}

.headerSection {
  display: flex;
  justify-content: center;
  margin: auto;
  background-image: url("images/background.jpg");


}

/* .backgroundImage {
  float: left;
  width: 100%;
  height: 150px;
  background-image: url("images/background.jpg");
} */

.mainSection {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.headerLink {
  color: black;
}

.articleColumn {
  width: 60%;
  margin: 1%;
  background-color: white;
}

.article {
  padding: 20px;
}

.borderDot {
  padding-bottom: 10px;
  border-bottom: 2px dotted black;
}

.borderSolid {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.sideColumn {
  padding-top: 20px;
  width: 25%;
  margin: 1%;
  background-color: white;
}

.sideLinks {
  color: black;
}

.adBox {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.footerSection {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.socialImage {
  margin: 3px;
}
