<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title></title>
  </head>
  <body>
    <h1>A Closer Look</h1>
    <table>
      <tr>
        <td><div>Name:</div></td>
        <td><%= peps["name"] %></td>
      </tr>
      <tr>
        <td><div>Age:</div></td>
        <td><%= peps["age"] %></td>
      </tr>
      <tr>
        <td><div>Description:</div></td>
        <td><%= peps["description"] %></td>
      </tr>
      <tr>
        <td><div>Protected:</div></td>
        <td><%= peps["protect"]%></td>
      </tr>
    </table>
    <nav>
      <br/>
      <a href="/main">Back</a>
    </nav>
  </body>
</html>
