<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <title>Pokedex</title>
  </head>
  <body>
    <div class="container">
    <!-- <h1>Pokedex</h1> -->
    <div class="pokedex">
      <div class="pokedexWrap">
      <h1>Pokedex</h1>
      <div class="flexMe">
        <div class="pokedexPreview">
          <a href="/pokedex/new">New Pokemon</a>
          <img src="http://www.heraldscotland.com/resources/images/5283517.png?display=1&htype=0&type=responsive-gallery" />
        </div>
        <% for(let i = 0; i < pokemon.length; i++){ %>
          <div class="pokedexPreview">
            <a href="/pokedex/<%= i + 1 %>"><%= pokemon[i]["name"] %></a>
            <img src="<%= pokemon[i]["img"] %>" />
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
