:root {
  --headerBack: #062F4F;
  --mainBack: #000000;
  --cardBack: #062F4F;
  --buttonBack: #062F4F;
  --inputBorder: #B82601;
  --linkColor: #87B3BC;
  --linkOffColor: #FFFFFF;
}

/* :root {
  --headerBack: steelblue;
  --mainBack: steelblue;
  --cardBack: tan;
  --buttonBack: tan;
  --inputBorder: black;
  --linkColor: black;
  --linkOffColor: blue;
} */

html{
  background: var(--mainBack);
  text-align: center;
  font-family: 'Boogaloo', cursive;
  color: #FFFFFF;
}

body {
  margin: 0;
}

.container {
  /* width: 95%; */
  width: 100%;
  min-width: 650px;
  /* margin: auto; */
  letter-spacing: 1px;
}

.header {
  width: 100%;
  background: var(--headerBack);
  padding: 3px;
  margin: 0 0 10px 0;
  /* box-sizing: border-box; */
}

div {
  /* border: 1px solid gold; */
}

h1 {
  margin: 10px 0 5px 0;
  font-family: 'Rock Salt', cursive;
  letter-spacing: 2px;
}

h3 {
  margin: 0 0 20px 0;
  font-size: 1.7em;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

a {
  font-size: 1.1em;
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  color: var(--linkOffColor);
  text-decoration: underline;
}

.productWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard {
  margin: 20px auto;
  background: var(--cardBack);
  /* width: 30%; */
  width: 300px;
}

.productWrapper h4 {
  margin: 20px 0 0 0;
}

.productWrapper p {
  margin: 20px 10px;
  letter-spacing: 2px;
}

.productWrapper img {
  margin: 30px auto 5px auto;
}

img {
  width: 250px;
  height: 250px;
}

.showProduct {
  text-align: left;
  background: var(--cardBack);
  display: flex;
  min-width: 550px;
  width: 100%;
  padding: 3px;
  margin-top: 20px;
}

.showImage {
  margin: 30px;
  /* background: white; */
}

.showDescription {
  margin: 30px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
}

.button {
  background: var(--buttonBack);
  width: 200px;
  height: 50px;
  padding-top: 15px;
  margin: 20px 20px 0 20px;
  box-sizing: border-box;
}

.inputButton {
  padding-top: 0px;
}

label {
  display: block;
}

input {
  width: 92%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Boogaloo', cursive;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: #000000;
  outline: 0;
  border: 0px transparent var(--inputBorder);
}

input[type="submit"] {
  color: var(--linkColor);
  border: 0 transparent white;
}

input[type="submit"]:hover {
  color: var(--linkOffColor);
  text-decoration: underline;
  border: 0 transparent white;
}

textarea {
  resize: none;
  width: 92%;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Boogaloo', cursive;
  letter-spacing: 1px;
  font-size: 1.1em;
}

input:focus, textarea:focus {
  outline: 0;
  border: 2px solid var(--inputBorder);
}
