html{
  background: steelblue;
  text-align: center;
}

.container {
  width: 95%;
  margin: auto;
}

div {
  /* border: 1px solid gold; */
}

h1 {
  margin: 20px 0 5px 0;
}

h3 {
  margin: 0 0 20px 0;
}


.productWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard {
  margin: 20px auto;
  background: tan;
  width: 30%;
}

h4 {
  margin: 20px 0 0 0;
}

p {
  margin: 20px 10px;
}


img {
  width: 250px;
  height: 250px;
  margin: 30px auto 5px auto;
}
