html{
  background: steelblue;
  text-align: center;
}

.container {
  width: 95%;
  margin: auto;
}

div {
  /* border: 1px solid gold; */
}

h1 {
  margin: 20px 0 5px 0;
}

h3 {
  margin: 0 0 20px 0;
}


.productWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard {
  margin: 20px auto;
  background: tan;
  /* width: 30%; */
  width: 300px;
}

.productWrapper h4 {
  margin: 20px 0 0 0;
}

.productWrapper p {
  margin: 20px 10px;
}

.productWrapper img {
  margin: 30px auto 5px auto;
}

img {
  width: 250px;
  height: 250px;
}

.showProduct {
  text-align: left;
  background: tan;
  display: flex;
}

.showImage {
  margin: 30px;
}

.showDescription {
  margin: 30px;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
}

.button {
  background: tan;
  width: 200px;
  height: 50px;
  padding-top: 15px;
  margin: 20px 20px 0 20px;
  box-sizing: border-box;
}

.inputButton {
  padding-top: 0px;
}
