<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myHomework">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <div ng-controller="CarsController as ctrl">
      <h1>{{ ctrl.myTitle }}</h1>
      <div class="flexy">
        <div class="leftSide">
          <h3>Car Types</h3>
          <form ng-submit="ctrl.addType()">
            <input type="text" ng-model="ctrl.newType" placeholder="New Car Type" />
            <button type="submit">ADD CAR TYPE</button>
          </form>
          <ul ng-repeat="type in ctrl.types">
            <li>{{ type }}</li>
          </ul>
        </div>
        <div class="rightSide">
          <h3>Car Colors</h3>
          <form ng-submit="ctrl.addColor()">
            <input type="text" ng-model="ctrl.newColor" placeholder="New Color" />
            <button type="submit">ADD COLOR</button>
          </form>
          <ul ng-repeat="color in ctrl.colors">
            <li>{{ color }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom" ng-controller="DriversController as drive">
      <h2 ng-click="drive.showHide()">Clicky</h2>
      <h2>The Driver Is</h2>
      <h3>{{ drive.name }}</h3>
      <img ng-show="!drive.isShy" ng-src="{{ drive.driverImg }}" alt="{{ drive.name }}" />
    </div>
  </body>
  <style>
  html {
    /* text-align: center; */
  }

  .flexy {
    display: flex;
    justify-content: space-around;
  }

  .leftSide, .rightSide {
    width: 40%;
  }

  h1, .bottom {
    text-align: center;
  }
  </style>
</html>
