body {
  background-color: #F8F7FF;
  text-align: center;
}

.cat {
  font-family: fantasy;
  opacity: 0.5;
}

ul {
  list-style-type: none;
}

table, th, td {
  border: 1px solid gray;
  margin: auto;
  text-align: center;
}

.cabbage {
  color: CHARTREUSE;
}

div {
  /* border: 1px solid gold; */
}
