body {
  background-color: #F8F7FF;
  text-align: center;

}

.cat {
  font-family: fantasy;
  opacity: 0.5;
}

ul {
  text-decoration: none;
}

table, th, td {
  border: 1px solid gray;
  margin: auto;
  text-align: center;
}

.cabbage {
  color: CHARTREUSE;
}
