html {
  /* background: thistle; */
}

div {
  margin: 10px;
  min-height: 200px;
}

h3, h2 {
  margin: 10px;
}

.container {
  width: 95%;
  background-color: #F6F5F5;
}

.flexy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left, .box {
  min-width: 200px;
  width: 20%;
  background-color: #D8D8D8;
}

.left {
  flex-direction: column;
  margin: 20px 10px;
}

.left h3 {
  margin-left: 30px;
}

.centerText {
  text-align: center;
}

.box {
  width: 30%;
  min-height: 250px;
}

.largeBox {
  width: 100%;
  box-sizing: border-box;
}

.largeImage {
  width: 95%;
  margin: auto;
  background-color: #B6B5B5;
  height: 200px;
  min-width: 0px;
}

.left {
  height: 600px;
}

.right {
  width: 70%;
  box-sizing: border-box;
}
