/* * {
  border: 1px solid yellow;
} */

h1 {
  text-align: center;
  font-family: 'Song Myung', serif;
}

h3 {
  font-family: 'Song Myung', serif;
  color: #E89A2F
}

li {
  font-family: 'Inconsolata', monospace;
}
/* .Content{
  float: left;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
} */
