<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body ng-controller="MainController as ctrl" ng-class="{ neg: ctrl.number < 0 }">
    <h1>{{ ctrl.hello }}</h1>
    <div>
      <h2>{{ ctrl.number }}</h2>
    </div>
    <div>
      <button ng-click="ctrl.goUp()">More</button>
      <button ng-click="ctrl.goDown()">Less</button>
      <button ng-click="ctrl.reset()">Reset</button>
    </div>
  </body>
  <style>
    html {
      text-align: center;
    }

    .neg {
      background: red;
    }

    button {
      padding: 5px;
      margin: 5px 10px;
    }

  </style>
</html>
