<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Captain's Log</title>
  </head>
  <body>
    <h1>Captain's Log</h1>
    <ul>
      <% for(let i = 0; i < logs.length; i++) { %>
        <li>
          <a href="/logs/<%= logs[i]._id %>"><%= logs[i]["title"] %></a>
        </li>
      <% } %>
    </ul>
    <a href="/logs/new">Create New Log</a>
  </body>
</html>
