<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Entry <%= log.title %></title>
  </head>
  <body>
    <ul>
      <li><%= log.title %></li>
      <li><%= log.entry %></li>
      <li>Broke: <%= log.shipIsBroken%></li>
    </ul>
    <a href="/logs">Index</a>
  </body>
</html>
